.card.income{
    background-color: transparent;
    border-color: #6D8A48;
    border-radius: 15px;
    border-width: 2px;
}

.card.expense{
    background-color: transparent;
    border-color: #FD7014;
    border-radius: 15px;
    border-width: 2px;
}

.date{
    color: #EEEEEE;
    font-weight: bold;
    font-size: 20px;
}

.card-desc{
    font-weight: bold;
    font-size: 25px;
}

.amount-text{
    font-weight: bold;
    font-size: 25px;
    text-align: right;
}