.card.income{
    background-color: transparent;
    border-color: #6D8A48;
    border-radius: 15px;
    border-width: 2px;
}

.card.expense{
    background-color: transparent;
    border-color: #FD7014;
    border-radius: 15px;
    border-width: 2px;
}

.date{
    color: #EEEEEE;
    font-weight: bold;
    font-size: 20px;
}

.card-desc{
    font-weight: bold;
    font-size: 28px;
}

.amount-text{
    font-weight: bolder;
    font-size: 28px;
    text-align: right;
}

.mutation-button{
    text-align: end;
    margin-right: 20px;
    margin-top: -20px;
    cursor:pointer;
    margin-bottom: 10px;
    padding: 0px;
}