.income-form-card{
    background-color: #6D8A48;
    height: 680px;
    border-radius: 15px;
}

.card-title{
    font-size: 24px;
    font-weight: bold;
}

.form-group{
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.form-control{
    background-color: transparent;
    border-top:transparent ;
    border-left: transparent;
    border-right: transparent;
}

.card-text{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 100px;
}
