.title-page{
    color: #EEEEEE;
    font-weight: bold;
    font-size: 40px;
}
.loader{
    margin-top: 30px;
}

.sort-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 0px;
    margin-right: 15px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sort-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FD7014;
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom:-45px ;
  }
  
  .sort-slider:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sort-slider {
    background-color: #FD7014;
  }
  
  input:checked + .sort-slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(30px);
  }

  .sort-slider.round {
    border-radius: 30px;
  }
  
  .sort-slider.round:before {
    border-radius: 50%;
  }
.sort-desc{
    font-size: 18px;
    font-weight: lighter;
}